* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: url('https://img.freepik.com/vecteurs-premium/arriere-plan-harmonieux-pixel-art-montagnes-herbe-nuages-paysage-pour-jeu-programme_148553-728.jpg') no-repeat center center;
    background-size: cover;
    animation: moveBackground 8s infinite linear;
}

.pokemon {
    position: absolute;
    bottom: 10%;
    left: -150px;
    width: 120px;
    height: 120px;
    background: url('https://img.pokemondb.net/sprites/black-white/anim/back-normal/beedrill.gif') no-repeat center;
    background-size: contain;
    animation: movePokemon 8s infinite linear;
}

@keyframes moveBackground {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes movePokemon {
    0% {
        left: -150px;
    }
    50% {
        left: 50%;
        transform: translateX(-50%) rotate(15deg);
    }
    100% {
        left: 100%;
        transform: translateX(-50%) rotate(-15deg);
    }
}
